@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";


body {
  font-family: 'Montserrat', sans-serif;
}

.dropdown-style-none {
  border: none;
  box-shadow: none;
  
}

.container{
 
  margin: 0 auto;
 
}

.bg-blue-900 {
  background-color: rgb(0 62 113/var(--tw-bg-opacity,1));
}

.bg-blue-600 {
  background-color: rgb(0 104 201/var(--tw-bg-opacity,1));
}

.tb_snap_btn_bg{
  display: none;
}